.footer {
  width: 166;
  height: 16;
  top: 1843px;
  left: 556px;
}

.footer__copyright {
  width: 166;
  height: 16;
  top: 1843px;
  left: 556px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
}
