.intro {
  display: flex;
  justify-content: center;
  width: 830;
  height: 482;
  top: 1269px;
  left: 148px;
}

.intro__title {
  width: 830;
  height: 116;
  top: 1269px;
  left: 148px;
  font-family: Inter;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  color: #ffffff;
}

.intro__text-phrase {
  width: 738;
  height: 68;
  top: 1425px;
  left: 148px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  color: #ffffff;
}

.intro__text-author {
  width: 732;
  height: 34;
  top: 1503px;
  left: 148px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
}

.intro__text-description {
  width: 722;
  height: 182;
  top: 1569px;
  left: 148px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0%;
  color: #ffffff;
}
