.lead {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  color: #ffffff;
}

.lead__title {
  width: 720px;
  font-family: "inter", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin-bottom: 32px;
  align-items: center;
}

.lead__subtitle {
  width: 720px;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 32px;
}

.lead__image {
  width: 984px;
  margin-bottom: 92px;
}
