.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  color: #ffffff;
}

.lead__title {
  width: 720px;
  font-family: "inter", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin-bottom: 32px;
  align-items: center;
  text-align: center;
}

.lead__subtitle {
  width: 720px;
  font-family: "inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 32px;
  text-align: center;
}

.lead__image {
  width: 984px;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: 720px;
    width: 80%;
    height: 80%;
    font-size: 75px;
    line-height: 79px;
  }

  .lead__subtitle {
    height: 90%;
    width: 100%;
  }

  .lead__image {
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    width: 70%;
    height: 80%;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    height: 90%;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }

  .lead__image {
    width: 100%;
  }
}
