.lead {
  display: flex;
  justify-content: center;
  width: 984;
  height: 983;
  top: 194px;
  left: 148px;
}

.lead__title {
  width: 720;
  height: 200;
  top: 194px;
  left: 280px;
  font-family: Inter;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.lead__subtitle {
  width: 720;
  height: 72;
  top: 426px;
  left: 280px;
  font-family: Inter;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.lead__image {
  width: 984;
  height: 615;
  top: 562px;
  left: 148px;
}
